@model IEnumerable<DDX.OrderManagementSystem.Domain.OrderAmountType>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/easyUI/datagrid-groupview.js"></script>
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        
        $(function () {
            $("#cc").datebox({
                parser: myparser
            });
            $("#cc2").datebox({
                parser: myparser
            });
            $('#cc').datebox("setValue", getStartDate(1));
            $('#cc2').datebox("setValue", getStartDate(1));



            $('#dg1').datagrid({
                url: '@Url.Action("GetOrderAmount", "Reports")',
                queryParams: { "search": "Account_uk&yw^IsXu_ds&0^IsStop_ds&0^Status_ds&已发货^" + "ScanningOn_et&" + $('#cc2').datebox("getValue") + "^" + "ScanningOn_st&" + $('#cc').datebox("getValue") + "^" },
                nowrap: false,
                width: 600,
                showFooter: true,
                title: '宁波汇总',
                height: 600,
                rownumbers: true,
                fitColumns: true,
                singleSelect: true
                //view: groupview,
                //groupField: 'Area',
                //groupFormatter: function (value, rows) {
                //    var sum = 0;
                //    for (var i = 0; i < rows.length; i++) {
                //        sum += rows[i].SUMProfit;
                //    }
                //    return value + ' - ' + rows.length + '个账户     ' + sum.toFixed(2) + " 盈利";
                //}
            });
            $('#dg2').datagrid({
                url: '@Url.Action("GetOrderAmount", "Reports")',
                queryParams: { "search": "Account&yw^IsXu_ds&0^IsStop_ds&0^Status_ds&已发货^" + "ScanningOn_et&" + $('#cc2').datebox("getValue") + "^" + "ScanningOn_st&" + $('#cc').datebox("getValue") + "^" },
                nowrap: false,
                showFooter: true,
                width: 600,
                title: '义乌汇总',
                height: 600,
                rownumbers: true,
                fitColumns: true,
                singleSelect: true

            });

            $('#pp').combobox({
                url: '/Home/Platform/1',
                valueField: 'id',
                textField: 'text',
                width: 100,
                panelHeight: 'auto',
                onChange: changePlatform
            });
            $('#pp').combobox("setValue", "ALL");
            $('#loss').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: checksall,
                width: 100
            });

            // doSearch();
            $.ajax({
                url: '@Url.Action("GetOrderAmountTotal", "Reports")/',
                 type: 'post',
                 data: 'search=' + encodeURIComponent(getSearch()),
                 success: function (result) {
                     $("#amounttotal").html("<b>总销售(USD):</b>" + result.SumAmount + " &nbsp;&nbsp;&nbsp;<b>盈利总计:</b>" + result.Profit + " &nbsp;&nbsp;&nbsp;<b>亏损总计:</b>" + result.Loss + " &nbsp;&nbsp;&nbsp;<b>总合计:</b>" + result.SUMProfit + " &nbsp;&nbsp;&nbsp;<b>毛利润率:</b>" + result.ProfitRate + "% &nbsp;&nbsp;&nbsp;");
                 }
             });


        });

        function myparser(s) {
            if (!s) return new Date();
            var ss = s.split('-');
            var y = parseInt(ss[0], 10);
            var m = parseInt(ss[1], 10);
            var d = parseInt(ss[2], 10);
            if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                return new Date(y, m - 1, d);
            } else {
                return new Date();
            }
        }

        function changePlatform(n, o) {
            //$('#aa').combotree({
            //    url: '/Home/AccountList/' + n,
            //    valueField: 'id',
            //    textField: 'text',
            //    width: 150
            //});
            //$('#aa').combotree("setValue", "ALL");
            comboboxInit('/Account/GetAccountListByPlatform/', "id=" + n + "&t=1", 'aa', 'Id', 'AccountName', null, null, 500, true);
        }
        //新建
        function c_dlg(i, id) {
            //0订单 1产品 2运费
            var url_str = "";
            if (i == 0) {
                url_str = '@Url.Action("GetOrders", "OrderAmount")/' + id;
                showdlg(url_str, 'c_dlg', function () {
                    $('#c_dlg').dialog('close');
                });
            } else if (i == 1) {
                url_str = '@Url.Action("GetProducts", "OrderAmount")/' + id;
                showdlg(url_str, 'c_dlg', function () {
                    $('#d_dlg').dialog('close');
                });
            } else if (i == 2) {
                url_str = '@Url.Action("GetFreights", "OrderAmount")/' + id;
                showdlg(url_str, 'e_dlg', function () {
                    $('#e_dlg').dialog('close');
                });
            }
        }

        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("Delete", "OrderAmount")/' + id;
                delData(url, 'dg');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function getSearch() {

            var search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^IsXu_ds&0^IsStop_ds&0^";
            
            search += "Status_ds&已发货^";
            var u = $('#pp').combobox("getValue");
            if (u != "ALL" && u != "" && u != "0") {
                search += "Platform_es&" + u + "^";
            }
            u = $('#aa').combobox("getText");
            if (u != "===请选择===" && u != "" && u != "0") {
                search += "Account_all&" + u + "^";
            }


            u = $('#cc').combobox("getValue");
            if (u != "ALL" && u != "") {
                search += "ScanningOn_st&" + u + "^";

            }
            u = $('#cc2').combobox("getValue");
            if (u != "ALL" && u != "") {
                search += "ScanningOn_et&" + u + "^";

            }

            u = $('#loss').combobox("getValue");
            if (u != "ALL" && u != "") {
                if (u == 2)
                    search += "Profit_si&0^";
                else
                    search += "Profit_ei&-0.000001^";
            }


            return search;
        }
        function doSearch() {
            var search = getSearch();
            $("#dg1").datagrid("load", {
                search: search + "Account_uk&yw^"
            });
            $("#dg2").datagrid("load", {
                search: search + "Account&yw^IsXu_ds&0^IsStop_ds&0^"
            });
            // doSearch();
            $.ajax({
                url: '@Url.Action("GetOrderAmountTotal", "Reports")/',
                type: 'post',
                data: 'search=' + encodeURIComponent(search),
                success: function (result) {
                    $("#amounttotal").html("<b>总销售(USD):</b>" + result.SumAmount + " &nbsp;&nbsp;&nbsp;<b>盈利总计:</b>" + result.Profit + " &nbsp;&nbsp;&nbsp;<b>亏损总计:</b>" + result.Loss + " &nbsp;&nbsp;&nbsp;<b>总合计:</b>" + result.SUMProfit + " &nbsp;&nbsp;&nbsp;<b>毛利润率:</b>" + result.ProfitRate + "% &nbsp;&nbsp;&nbsp;");
                }
            });
        }

        function getAmount(v, r, i) {
            return r.CurrencyCode + ":" + v;
        }

        function getFreights(v, r, i) {
            return '<a href="javascript:void(0)" onclick="c_dlg(2,' + r.Id + ')">' + v + '</a>';
        }

        function getOrders(v, r, i) {
            return '<a href="javascript:void(0)" onclick="c_dlg(0,' + r.Id + ')">' + v + '</a>';
        }

        function getProducts(v, r, i) {
            return '<a href="javascript:void(0)" onclick="c_dlg(1,' + r.Id + ')">' + v + '</a>';
        }
        function getBFB(v, r, i) {
        
            if (v == 0)
                return "";
            var html = "";
            if (v < 16) {
                html = '<font color="#F00"><b>' + v + '%' + '</b></font><br />';
            } else {
                html = v + '%';
            }
        
            return html;
        

        }
        function getBFB2(v, r, i) {

            if (v == 0)
                return "";
            var html = "";
            if (v < 20) {
                html = '<font color="#F00"><b>' + v + '%' + '</b></font><br />';
            } else {
                html = v + '%';
            }

            return html;


        }

        function getProfit(v, r, i) {
            var html = "";
            if (v < 0) {
                html = '<font color="#F00"><b>' + v + '</b></font><br />';
            } else {
                html = v;
            }
            return html;
        }

        function getAccount(v, r, i) {
            var html = "";
            html += "" + r.Account + "<br\>";
            html += "" + r.Platform + "";
            return html;
        }
        function toExcel() {
            search = getSearch();

            var postUrl = "/Order/ExportDown/1";
            $.ajax({
                url: '@Url.Action("ToExcel", "OrderAmount")/',
                type: 'post',
                data: 'search=' + encodeURIComponent(search),
                success: function (result) {
                    $.messager.show({
                        title: '提示',
                        msg: result.ErrorMsg,
                        timeout: 0,
                        showType: 'slide'
                    });
                    location.href = postUrl;
                }
            });
        }
    </script>
    <div region="center">
        <table width="100%">
            <tr>
                <td colspan="2">
                    <div id="toolbar">
                        平台:<input id="pp" type="text" />
                        账户:<input id="aa" type="text" />
                        亏损:<input id="loss" type="text" />
                        开始:<input id="cc" type="text" />
                        结束:<input id="cc2" type="text" />
                        <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
                        <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
                    </div>
                    <div id="mm" style="width: 120px">
                        <div data-options="name:'OrderNo'">订单编号</div>
                        <div data-options="name:'OrderExNo'">订单号</div>
                    </div>
                </td>
            </tr>
                        <tr>
                <td colspan="2">
                   <div id="amounttotal"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="dg1">
                        <thead>
                            <tr>
                                <th field="Account" width="100">账户
                                </th>
                                <th field="SumAmount" width="80">总销售(USD)
                                </th>
                                <th field="Profit" width="80">盈利总计
                                </th>
                                <th field="Loss" width="80">亏损总计
                                </th>
                                <th field="SUMProfit" width="80">总合计
                                </th>
                                <th field="ProfitRate" width="80" formatter="getBFB">毛利润率
                                </th>
                            </tr>
                        </thead>
                    </table>
                </td>
                <td>
                    <table id="dg2">
                        <thead>
                            <tr>
                                <th field="Account" width="100">账户
                                </th>
                                <th field="SumAmount" width="80">总销售(USD)
                                </th>
                                <th field="Profit" width="80">盈利总计
                                </th>
                                <th field="Loss" width="80">亏损总计
                                </th>
                                <th field="SUMProfit" width="80">总合计
                                </th>
                                <th field="ProfitRate" width="80" formatter="getBFB2">毛利润率
                                </th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </table>


        <div id="c_dlg"></div>
        <div id="d_dlg"></div>
        <div id="e_dlg"></div>
    </div>
</body>
