@model IEnumerable<DDX.OrderManagementSystem.Domain.OrderAmountType>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/easyUI/datagrid-groupview.js"></script>
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $("#cc").datebox({
                parser: myparser
            });
            $("#cc2").datebox({
                parser: myparser
            });
            $('#cc').datebox("setValue", getStartDate(1));
            $('#cc2').datebox("setValue", getStartDate(1));



            $('#dg3').datagrid({
                url: '@Url.Action("List", "Order")',
                queryParams: { "search": "Account&yw^IsXu_ds&0^IsStop_ds&0^Status_ds&已发货^" + "ScanningOn_et&" + $('#cc2').datebox("getValue") + "^" + "ScanningOn_st&" + $('#cc').datebox("getValue") + "^", sort: "Profit", order: "Asc" },
                nowrap: false,
                title: '义乌数据',
                rownumbers: true,

                singleSelect: true,
                pagination: true,
                height: 600,
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100],
                onDblClickRow: function (i, r) {
                    window.open('@Url.Action("Details", "Order")/' + r.Id);
                },
            });



            $('#pp').combobox({
                url: '/Home/Platform/1',
                valueField: 'id',
                textField: 'text',
                width: 100,
                panelHeight: 'auto',
                onChange: changePlatform
            });
            $('#pp').combobox("setValue", "ALL");
            $('#loss').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: checksall,
                width: 100
            });
            $('#isfba').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: checksall,
                width: 100
            });
            $('#isfreight').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: [["ALL", "ALL"], ["已导入", "已导入"], ["未导入", "未导入"], 
                ],
                width: 100
            });

            // doSearch();

        });

            function myparser(s) {
                if (!s) return new Date();
                var ss = s.split('-');
                var y = parseInt(ss[0], 10);
                var m = parseInt(ss[1], 10);
                var d = parseInt(ss[2], 10);
                if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
                    return new Date(y, m - 1, d);
                } else {
                    return new Date();
                }
            }

            function changePlatform(n, o) {
                $('#aa').combotree({
                    url: '/Home/AccountList/' + n,
                    valueField: 'id',
                    textField: 'text',
                    width: 150
                });
                $('#aa').combotree("setValue", "ALL");
            }
            //新建
            function c_dlg(i, id) {
                //0订单 1产品 2运费
                var url_str = "";
                if (i == 0) {
                    url_str = '@Url.Action("GetOrders", "OrderAmount")/' + id;
                    showdlg(url_str, 'c_dlg', function () {
                        $('#c_dlg').dialog('close');
                    });
                } else if (i == 1) {
                    url_str = '@Url.Action("GetProducts", "OrderAmount")/' + id;
                    showdlg(url_str, 'c_dlg', function () {
                        $('#d_dlg').dialog('close');
                    });
                } else if (i == 2) {
                    url_str = '@Url.Action("GetFreights", "OrderAmount")/' + id;
                    showdlg(url_str, 'e_dlg', function () {
                        $('#e_dlg').dialog('close');
                    });
                }
    }

    //删除
    function del() {
        var id = getselectedRow();
        if (id != undefined) {

            var url = '@Url.Action("Delete", "OrderAmount")/' + id;
            delData(url, 'dg');

        }
    }

    //获取选中行
    function getselectedRow() {
        var row = $('#dg').datagrid('getSelected');
        if (row != undefined) {
            if (row.hasOwnProperty('Id')) {
                var id = row['Id'];
                return id;
            }
        }
        $.messager.show({
            title: '提示',
            msg: '请选择行',
            timeout: 3000,
            showType: 'slide'
        });
        return (undefined);
    }

    function getSearch() {

        var search = "Account&yw^IsXu_ds&0^" + $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^Account&yw^";
        search += "Status_ds&已发货^";
        var u = $('#pp').combobox("getValue");
        if (u != "ALL" && u != "" && u != "0") {
            search += "Platform_es&" + u + "^";
        }
        u = $('#aa').combobox("getText");
        if (u != "ALL" && u != "" && u != "0") {
            search += "Account_es&" + u + "^";
        }


        u = $('#cc').combobox("getValue");
        if (u != "ALL" && u != "") {
            search += "ScanningOn_st&" + u + "^";

        }
        u = $('#cc2').combobox("getValue");
        if (u != "ALL" && u != "") {
            search += "ScanningOn_et&" + u + "^";

        }

        u = $('#loss').combobox("getValue");
        if (u != "ALL" && u != "") {
            if (u == 2)
                search += "Profit_si&0^";
            else
                search += "Profit_ei&-0.000001^";
        }

        u = $('#isfba').combobox("getValue");
        if (u != "ALL" && u != "") {
            if (u == 0)
                search += "IsFBA_es&0^";
            if(u == 1)
                search += "IsFBA_es&1^";
        }
        u = $('#isfreight').combobox("getValue");
        if (u != "ALL" && u != "") {
            if (u == "未导入")
                search += "isFreight_es&0^";
            if (u == "已导入")
                search += "isfreight_es&1^";
        }


        return search;
    }
    function doSearch() {
        var search = getSearch();

        $("#dg3").datagrid("load", {
            search: search + "Account&yw^",
            order: 'Asc',
            sort: 'Profit'
        });
    }

    function getAmount(v, r, i) {
        return r.CurrencyCode + ":" + v;
    }

    function getFreights(v, r, i) {
        return '<a href="javascript:void(0)" onclick="c_dlg(2,' + r.Id + ')">' + v + '</a>';
    }

    function getOrders(v, r, i) {
        return '<a href="javascript:void(0)" onclick="c_dlg(0,' + r.Id + ')">' + v + '</a>';
    }

    function getProducts(v, r, i) {
        return '<a href="javascript:void(0)" onclick="c_dlg(1,' + r.Id + ')">' + v + '</a>';
    }

    function getProfit(v, r, i) {
        var html = "";
        if (v < 0) {
            html = '<font color="#F00"><b>' + v + '</b></font><br />';
        } else {
            html = v;
        }
        return html;
    }

    function getProfitRate(v, r, i) {
        v = r.Profit;
        if (r.Amount == 0 || v == 0) {
            return 0 + "%";
        }
        var ccc = (v / (r.Amount * 6.1) * 100).toFixed(2);
        if (ccc < 0) {
            return '<font color="#F00"><b>' + ccc + '%</b></font><br />';
        } else {
            return ccc + "%";
        }

    }

    function getAccount(v, r, i) {
        var html = "";
        html += "" + r.Account + "<br\>";
        html += "" + r.Platform + "";
        return html;
    }
    function toExcel() {
        search = getSearch();

        var postUrl = "/Order/ExportDown/1";
        $.ajax({
            url: '@Url.Action("ToExcel", "OrderAmount")/',
            type: 'post',
            data: 'search=' + encodeURIComponent(search),
            success: function (result) {
                $.messager.show({
                    title: '提示',
                    msg: result.ErrorMsg,
                    timeout: 0,
                    showType: 'slide'
                });
                location.href = postUrl;

            }
        });
    }
    </script>
    <div region="center">
        <table>
            <tr>
                <td>
                    <div id="toolbar">
                        平台:<input id="pp" type="text" />
                        账户:<input id="aa" type="text" />
                        亏损:<input id="loss" type="text" />
                        IsFBA:<input id="isfba" type="text" />
                        运费:<input id="isfreight" type="text" />
                        开始:<input id="cc" type="text" />
                        结束:<input id="cc2" type="text" />
                        <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
                        <a href="#" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="toExcel();">导出数据</a>
                    </div>
                    <div id="mm" style="width: 120px">
                        <div data-options="name:'OrderNo'">订单编号</div>
                        <div data-options="name:'OrderExNo'">订单号</div>
                    </div>
                </td>
            </tr>
            <tr>


                <td>
                    <table id="dg3">
                        <thead>
                            <tr>
                                 <th field="TrackCode" width="200">编号
                                </th>
                                <th field="Profit" width="150" formatter="getProfit" sortable="true">利润(RMB)
                                </th>
                                <th field="Account" width="150">账户/平台
                                </th>
                                <th field="Amount" width="180"  sortable="true">金额
                                </th>
                                <th field="ProductFees" width="130" formatter="getProducts"  sortable="true">商品(RMB)
                                </th>


                                <th field="Freight" width="130"  sortable="true">运费(RMB)
                                </th>

                                <th field="ProfitRate" width="130" formatter="getProfitRate"  sortable="true">毛利率
                                </th>

                            </tr>
                        </thead>
                    </table>

                </td>
            </tr>
        </table>


        <div id="c_dlg"></div>
        <div id="d_dlg"></div>
        <div id="e_dlg"></div>
    </div>
</body>
