@model DDX.OrderManagementSystem.Domain.WarehouseLocationType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

        $('#c_Wid').combogrid({
            required: true,
            editable: false,
            panelWidth: 410,
            idField: 'Id',
            textField: 'WName',
            url: '/Warehouse/QList',
            fit: true,
            columns: [[
                { field: 'Id', title: 'Id', width: 100 },
                { field: 'WCode', title: '仓库代码', width: 100 },
                { field: 'WName', title: '仓库名称', width: 100 },
                { field: 'Address', title: '仓位地址', width: 100 }
            ]]
        });
    });

</script>

@using (Html.BeginForm("Create", "WarehouseLocation", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	

	<tr>
		<td>
            @Html.LabelFor(model => model.Wid, "Wid:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Wid, new { @id = "c_Wid" })
		</td>
	</tr>

	@*<tr>
		<td>
            @Html.LabelFor(model => model.WName,"仓库名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.WName,new{@id="c_WName"})
		</td>
	</tr>*@

	<tr>
		<td>
            @Html.LabelFor(model => model.Code, "库位名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Code, new { @id = "c_Code" })
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Remark, "备注:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Remark, new { @id = "c_Remark" })
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SortCode, "排序:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SortCode, new { @id = "c_SortCode" })
		</td>
	</tr>

	@*<tr>
		<td>
            @Html.LabelFor(model => model.ParentId,"上级:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ParentId,new{@id="c_ParentId"})
		</td>
	</tr>*@


</table>
</fieldset>
}
