@model DDX.OrderManagementSystem.Domain.WarehouseLocationType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DDX.OrderManagementSystem.Domain.WarehouseLocationType</title>
</head>
<body>
<fieldset>
    <legend>DDX.OrderManagementSystem.Domain.WarehouseLocationType</legend>
    <div class="display-label">Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">Wid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Wid)
    </div>

    <div class="display-label">仓库名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WName)
    </div>

    <div class="display-label">库位名称</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">备注</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remark)
    </div>

    <div class="display-label">排序</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortCode)
    </div>

    <div class="display-label">上级</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentId)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
