@model DDX.OrderManagementSystem.Domain.FBAStockType

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>DDX.OrderManagementSystem.Domain.FBAStockType</title>
</head>
<body>
<fieldset>
    <legend>DDX.OrderManagementSystem.Domain.FBAStockType</legend>
    <div class="display-label">Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">SKU</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SKU)
    </div>

    <div class="display-label">Pid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pid)
    </div>

    <div class="display-label">Pic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pic)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Qty</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Qty)
    </div>

    <div class="display-label">TotalQty</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalQty)
    </div>

    <div class="display-label">CreateOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateOn)
    </div>

    <div class="display-label">CreateBy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">UndateOn</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UndateOn)
    </div>

    <div class="display-label">Remark</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remark)
    </div>


</fieldset>
<p>
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
</body>
</html>
