@model IEnumerable<DDX.OrderManagementSystem.Domain.PostTrackCodeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "PostTrackCode")',
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 40, 60, 80, 100]
        });

    });


    //新建
    function c_dlg() {
        var url_str = '@Url.Action("Create", "PostTrackCode")';
            showdlg(url_str, 'c_dlg', ajaxAdd)
        }

        //编辑框
        function e_dlg() {
            var url = '@Url.Action("Edit", "PostTrackCode")/' + id;
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Module")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "PostTrackCode")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "PostTrackCode")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "PostTrackCode")/' + id;
              
                delData(url, 'dg');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }
        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            $("#dg").datagrid("load", {
                search: search
            });
        }
        function ShowAdvanced() {
            showSrarch('@Url.Action("Search", "PostTrackCode")', 's_dlg', 'dg');
    }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="Code" width="100">Code
                    </th>
                    <th field="LogisticMode" width="100">LogisticMode
                    </th>
                    <th field="IsUse" width="100">IsUse
                    </th>

                    <th field="CreateOn" width="100" formatter="getDate">CreateOn
                    </th>

                    <th field="CreateBy" width="100">CreateBy
                    </th>

                    <th field="UseOn" width="100" formatter="getDate">UseOn
                    </th>


                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="c_dlg();">新建</a>
           
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ShowAdvanced();">Advanced</a>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'Id'">主键</div>
            <div data-options="name:'Code'">Code</div>
              <div data-options="name:'LogisticMode'">挂号类型</div>
            
            <div data-options="name:'IsUse'">IsUse</div>
            <div data-options="name:'CreateOn'">CreateOn</div>
            <div data-options="name:'CreateBy'">CreateBy</div>
            <div data-options="name:'UseOn'">UseOn</div>

        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>

    </div>
</body>
