@model DDX.OrderManagementSystem.Domain.PurchasePlanProductType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
    });
    
</script>

@using (Html.BeginForm("Create", "PurchasePlanProduct", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"主键:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PID,"计划ID:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PID,new{@id="c_PID"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.SKU,"产品SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU,new{@id="c_SKU"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Qty,"产品数量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Qty,new{@id="c_Qty"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Standard,"规格:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Standard,new{@id="c_Standard"})
		</td>
	</tr>


</table>
</fieldset>
}
