@model DDX.OrderManagementSystem.Domain.WarehouseRackType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值  
        $('#e_LineId').combogrid({
            required: true,
            editable: false,
            panelWidth: 105,
            idField: 'LineId',
            textField: 'LineCode',
            url: '/WarehouseRack/QList',
            fit: true,
            columns: [[
                { field: 'LineId', title: '排位Id', width: 100, hidden: true },
                { field: 'LineCode', title: '排位编码', width: 100 }
            ]]
        });
        $('#e_form').width(230);
    });
</script>
@using (Html.BeginForm("Edit", "WarehouseRack", FormMethod.Post, new { id = "e_form" }))

{
<fieldset>
<table class="editForm">
	<tr>
		<td style="display:none">
            @Html.TextBoxFor(model => model.RackId,new{@id="e_RackId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.LineId,"排位编码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LineId,new{@id="e_LineId"})
		</td>
         <td style="display: none">
            @Html.TextBoxFor(model => model.LineCode, new { @id = "e_LineCode" })
        </td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.RackCode,"货架编码:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.RackCode,new{@id="e_RackCode"})
		</td>
	</tr>


    
</table>
</fieldset>
}
