@model DDX.OrderManagementSystem.Domain.ProjectStateType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		
        $('#c_CreateOn').datebox();

        $('#c_CreateBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });


    });
    
</script>

@using (Html.BeginForm("Create", "ProjectState", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
	<tr>
		<td>
            @Html.LabelFor(model => model.Id,"Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Id,new{@id="c_Id"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.PId,"项目Id:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.PId,new{@id="c_PId"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateOn,"添加时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateOn,new{@id="c_CreateOn"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.Content,"内容:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Content,new{@id="c_Content"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.CreateBy,"添加人:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CreateBy,new{@id="c_CreateBy"})
		</td>
	</tr>


</table>
</fieldset>
}
