@model DDX.OrderManagementSystem.Domain.AliActivityType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {


        $('#c_BeginDate').datebox();


        $('#c_EndDate').datebox();

        $('#c_Status').combobox({
            url: '@Url.Action("GetOptions", "DataDictionaryDetail")/ActivityStatus',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 'auto'
        });

        $('#c_ActivityType').combobox({
            url: '@Url.Action("GetOptions", "DataDictionaryDetail")/AliActivityType',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 'auto'
        });
        $('#c_SKU').combogrid({
            required: true,
            panelWidth: 410,
            mode: 'remote',
            idField: 'SKU',
            textField: 'OldSKU',
            onChange: function (sku) {
                SeachSKU(sku);
            },
            url: '/Product/ListQ',
            fit: true,
            columns: [[
                { field: 'OldSKU', title: 'OldSKU', width: 80 },
                { field: 'SKU', title: 'SKU', width: 80 },
                { field: 'ProductName', title: 'Title', width: 100 },
                { field: 'Weight', title: '重量', width: 80 },
                { field: 'Price', title: '价格', width: 80 }
            ]]
        });
        comboboxInit('/Account/GetAccountListByPlatform/', "id=Aliexpress", 'c_Account', 'AccountName', 'AccountName');
        @Html.Raw("$('#c_Wight,#c_Freight,#c_CostPrice,#c_ProfitAndLoss').attr('readonly','readonly');")
    });

    function SeachSKU(sku) {
        var row = $('#c_SKU').combogrid("grid").datagrid('getSelected');
        if (row) {
            $("#c_Wight").attr("value", row["Weight"]);
            var v = row["Weight"] * 0.110 + 8;
            //v = v * 0.85;//折扣
            $("#c_Freight").attr("value", v.toFixed(2));
            var v2 = (v + row["Price"]) / 0.95 / 6.2;
            $("#c_CostPrice").attr("value", v2.toFixed(2));
            changeResult();
        }
    }

    function changePrice(t) {
        if (t == 1) {
            var a = $("#c_ZK").val();
            var b = $("#c_BasePrice").val();
            $("#c_ActivityPrice").val((a * b).toFixed(2));
        } else {
            var a = $("#c_ActivityPrice").val();
            var b = $("#c_BasePrice").val();
            $("#c_ZK").val((a / b).toFixed(2));
        }
        changeResult();
    }

    function changeResult() {
        var a = $("#c_ActivityPrice").val();
        var b = $("#c_CostPrice").val();
        $("#c_ProfitAndLoss").val(((a - b) * 6.2).toFixed(2));
    }

</script>

@using (Html.BeginForm("Create", "AliActivity", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">
        <tr>
		<td align="right">
            @Html.LabelFor(model => model.Status, "活动状态:")
		</td>
            <td >
                @Html.TextBoxFor(model => model.Status, new { @id = "c_Status" })
            </td>
            <td>
            @Html.LabelFor(model => model.Status, "账户：")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Account, new { @id = "c_Account" })
		</td>
	</tr>
	<tr>
		<td align="right">
            @Html.LabelFor(model => model.Title, "活动名称:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Title, new { @id = "c_Title" })
		</td>
        <td  align="right">
            @Html.LabelFor(model => model.ActivityType, "活动类型:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ActivityType, new { @id = "c_ActivityType" })
		</td>
	</tr>

	<tr>
		<td align="right">
            @Html.LabelFor(model => model.PID, "产品ID:")
		</td>
        <td>
            @Html.TextBoxFor(model => model.PID, new { @id = "c_PID" })
        </td>
        <td align="right">
            @Html.LabelFor(model => model.SKU, "SKU:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.SKU, new { @id = "c_SKU" })
		</td>
	</tr>

	<tr>
		<td align="right">
            @Html.LabelFor(model => model.BasePrice, "原价:")
		</td>
        <td>
            @Html.TextBoxFor(model => model.BasePrice, new { @id = "c_BasePrice" })
        </td>
       <td align="right">
            @Html.LabelFor(model => model.ZK, "折扣:")
		</td>
        <td>
            
            <input type="text" id="c_ZK" name="ZK" onblur="changePrice(1);"/>
        </td>
	</tr>

    	<tr>
		<td align="right">
            @Html.LabelFor(model => model.BeginDate, "开始时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.BeginDate, new { @id = "c_BeginDate" })
		</td>
        	<td align="right">
            @Html.LabelFor(model => model.EndDate, "结束时间:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.EndDate, new { @id = "c_EndDate" })
		</td>
	</tr>
	<tr>
		<td align="right">
            @Html.LabelFor(model => model.Wight, "重量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Wight, new { @id = "c_Wight" })
		</td>
        <td align="right">
            @Html.LabelFor(model => model.Freight, "运费:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.Freight, new { @id = "c_Freight" })
		</td>
	</tr>
	<tr>
		<td align="right">
            @Html.LabelFor(model => model.ActivityPrice, "活动价格:")
		</td>
        <td>
        
             <input type="text" id="c_ActivityPrice" name="ActivityPrice" onblur="changePrice(0)" />
        </td>
        <td align="right">
            @Html.LabelFor(model => model.CostPrice, "成本价:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.CostPrice, new { @id = "c_CostPrice" })
		</td>
	</tr>


	<tr>
		<td align="right">
            @Html.LabelFor(model => model.ExpectedSales, "预计销量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ExpectedSales, new { @id = "c_ExpectedSales" })
		</td>
        	<td align="right">
            @Html.LabelFor(model => model.ActualSales, "实际销量:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ActualSales, new { @id = "c_ActualSales" })
		</td>
	</tr>

	

    <tr>
        <td align="right">
            @Html.LabelFor(model => model.LimitedNumber, "买家限购数:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.LimitedNumber, new { @id = "c_LimitedNumber" })
		</td>
		<td align="right">
            @Html.LabelFor(model => model.ProfitAndLoss, "盈亏情况:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ProfitAndLoss, new { @id = "c_ProfitAndLoss" })
		</td>
	</tr>


	<tr>
		<td align="right">
            @Html.LabelFor(model => model.Reason, "报名理由:")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.Reason, new { @id = "c_Reason" })
		</td>
	</tr>

	<tr>
		<td align="right">
            @Html.LabelFor(model => model.Result, "活动效果分析:")
		</td>
		<td colspan="3">
            @Html.TextAreaFor(model => model.Result, new { @id = "c_Result" })
		</td>
	</tr>



	


</table>
</fieldset>
}
