@model IEnumerable<DDX.OrderManagementSystem.Domain.AccountType>
@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/Uploadify/uploadify.css" rel="stylesheet" />
<script src="~/Scripts/Uploadify/jquery.uploadify-3.1.min.js"></script>
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        var imgindex = 0;
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "Account")',
                pageNumber: 1,
                toolbar: '#toolbar',
                rownumbers: true,
                showFooter: true,
                singleSelect: true,
                pagination: true,
                fit: true,
                pageSize: 50,
                pageList: [50, 100, 200]
            });
            //初始化
            $('#up_file').uploadify({
                'auto': true,
                'buttonText': '请选择图片',
                'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
                'uploader': '/Home/SaveFile/',
                'multi': false,
                'onUploadSuccess': function (file, data, response) {
                    eval("data=" + data);

                    $("#img_" + imgindex + "").attr("src", data.SaveName);
                    //$('#PicUrl').val(data.SaveName);

                    $.ajax({
                        url: '@Url.Action("EditPic", "Account")/',
                        type: 'post',
                        data: 'pid=' + imgindex + "&pic=" + encodeURIComponent(data.SaveName),
                        success: function (result) {
                            $.messager.show({
                                title: '提示',
                                msg: "成功！",
                                timeout: 0,
                                showType: 'slide'
                            });
                            $('#dg').datagrid("reload");

                        }
                    });
                    $('#dlgpic').dialog('close');
                }
            });
        });

        //新建
        function c_dlg() {
            var url_str = '@Url.Action("Create", "Account")';
            showdlg(url_str, 'c_dlg', ajaxAdd);
        }

        //编辑框
        function e_dlg() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Edit", "Account")/' + id;
                showdlg(url, 'e_dlg', ajaxEdit)
            }
        }

        //异步新建提交
        function ajaxAdd() {
            formPost('c_form', '@Url.Action("Create", "Account")', 'c_dlg', 'dg');
        }
        //异步修改提交
        function ajaxEdit() {
            formPost('e_form', '@Url.Action("Edit", "Account")', 'e_dlg', 'dg');
        }
        //删除
        function del() {
            var id = getselectedRow();
            if (id != undefined) {
                var url = '@Url.Action("Delete", "Account")/' + id;
                delData(url, 'dg');
            }
        }


        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }

        function ShowOp(v, r, i) {
            var html = "";
            if (r.Platform == "Aliexpress")
                html += '<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'updateAPI("' + v + '")\'>更新API</a>';
            if (r.Platform == "Wish")
                html += '<a href=\'javascript:void(0)\' class=\'easyui-linkbutton\' plain=\'true\' onclick=\'updateAPI2("' + v + '")\'>更新API</a>';
            html += ' &nbsp;<a href="javascript:openpic(' + r.Id + ');">上传图片</a>';
            if (r.AgreementPic) {
                if (r.AgreementPic.length > 10) {
                    html += ' &nbsp;<a href="javascript:window.open(\'' + r.AgreementPic + '\');">查看协议</a>';
                }
            }
            return html;
        }
        var code;
        function openpic(v) {
            imgindex = v;
            $('#dlgpic').dialog('open');

        }
        function updateAPI(id) {
            jQuery.ajax({
                url: "/Account/GetAliLoginUrlById",
                type: "post",
                data: "id=" + id,
                success: function (res) {
                    if (res.IsSuccess) {
                        window.open(res.Result);
                        $.messager.prompt('信息提示', '请输入Code', function (r) {
                            if (r) {
                                jQuery.ajax({
                                    url: "/Account/UpdateAPI",
                                    type: "post",
                                    data: "id=" + id + "&code=" + r,
                                    success: function (res) {
                                        if (res.IsSuccess) {
                                            alert("更新成功!");
                                        } else {
                                            alert("更新失败!");
                                        }
                                    }
                                });
                            } else {
                                alert("请输入!");
                            }
                        });
                    } else {

                    }
                }
            });
        }

        function updateAPI2(id) {
            $.messager.prompt('信息提示', '请输入Code', function (r) {
                if (r) {
                    jQuery.ajax({
                        url: "/Account/UpdateWishAPI",
                        type: "post",
                        data: "id=" + id + "&code=" + r,
                        success: function (res) {
                            if (res.IsSuccess) {
                                alert("更新成功!");
                            } else {
                                alert("更新失败!");
                            }
                        }
                    });
                } else {
                    alert("请输入!");
                }
            });
        }

        function showData(v) {
            var url_str = '/AccountFee/Index/' + v;
            $('#s_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '运费设置',
                    iconCls: 'icon-save',
                    modal: true,
                    width: 800,
                    height: 400,
                    loadingMessage: '正在加载...',
                });
            }).dialog('open');
        }
        function showLData(v) {
            var url_str = '/LogisticsAllocation/Index/' + v;
            $('#l_dlg').load(url_str, function () {
                $(this).dialog({
                    title: '渠道划分',
                    iconCls: 'icon-save',
                    modal: true,
                    width: 800,
                    height: 400,
                    loadingMessage: '正在加载...',
                });
            }).dialog('open');
        }

        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            $("#dg").datagrid("load", {
                search: search
            });
        }

        function gotoURL(v, r, i) {
            return '<a href="' + v + '" target="_blank" >' + v + '</a>';
        }

        function getPic(v, r, i) {

        }
    </script>
    <div region="center">
        <table id="dg">
            <thead>
                <tr>

                    @*                    <th field="Id" width="180" sortable="true" formatter="ShowOp">操作
                    </th>*@
                    <th field="AccountName" width="80" sortable="true">店铺
                    </th>
                    <th field="UserName" width="150" sortable="true">用户名
                    </th>
                    <th field="AccountUrl" width="250" sortable="true" formatter="gotoURL">平台网址
                    </th>
                    <th field="Manager" width="180" sortable="true">负责人
                    </th>

                    <th field="Amount1" width="100" sortable="true">总销售额
                    </th>

                    <th field="Amount2" width="100" sortable="true">总提现额(USD)
                    </th>
                    <th field="Amount5" width="100" sortable="true">总提现额(RMB)
                    </th>
                    <th field="Amount3" width="100" sortable="true">余额(USD)
                    </th>

                    <th field="Amount4" width="100" sortable="true">余额(RMB)
                    </th>
                    @*     <th field="Platform" width="100" sortable="true">平台
                    </th>
                    <th field="Status" width="100" sortable="true">状态
                    </th>*@
                    @* <th field="Description" width="180" sortable="true">开户人
                    </th>
                   
                    <th field="USDAccount" width="250" sortable="true">提现账户(USD)
                    </th>
                    <th field="RMBAccount" width="250" sortable="true">提现账户(RMB)
                    </th>
                    
                    <th field="AlipayAccount" width="200" sortable="true">支付宝账户
                    </th>
                    <th field="DebitAccount" width="200" sortable="true">扣款账户
                    </th>*@
                    @*   <th field="AgreementPic" width="200" sortable="true" formatter="getPic">协议照片
                    </th>*@
                </tr>
            </thead>
        </table>
        <div id="toolbar">

            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'AccountName'">帐户名称</div>
            <div data-options="name:'Description'">描述</div>
            <div data-options="name:'Manager'">负责人</div>
        </div>
        <div id="c_dlg"></div>
        <div id="e_dlg"></div>
        <div id="s_dlg"></div>
        <div id="l_dlg"></div>
        <div id="dlgpic" class="easyui-dialog" title="上传图片" style="width: 250px; height: 250px; padding: 10px" closed="true">
            <table>
                <tr>
                    <td>
                        <input id="up_file" type="file" name="up_file" /></td>
                </tr>

            </table>
        </div>
    </div>
</body>
00