@model DDX.OrderManagementSystem.Domain.AccountType
@{
    Layout = null;
}
<script src="~/Scripts/easyUI/jquery.easyui.min.js"></script>
<link href="~/Scripts/easy/themes/default/easyui.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
       @* //这里写加载下拉列表、修改编辑控件的初始化值
        $('#e_FromArea').combobox({
            url: '@Url.Action("GetOptions", "DataDictionaryDetail")/FromArea',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 'auto'
        });
        $('#e_Platform').combotree({
            url: '/Home/Platform',
            valueField: 'id',
            textField: 'text',
            required: true,
            width: 150,
            onChange: pChange
        });
        $('#e_Platform').combotree("setValue", "@Model.Platform");*@
        pChange("@Model.Platform", "");
        //判断当前登录人是否是乐方妍，如果是则允许编辑提现方式和提现手续费
        jQuery.ajax({
            url: "/Account/IsEditTixian",
            type: "post",
            success: function (rrr) {
                if (rrr.IsSuccess) {
                    
                    $("#e_Tixian1").prop("disabled", false);
                    $("#e_Tixian2").prop("disabled", false);
                    $("#e_TixianRate").prop("disabled", false);
                    
                  
                } else {
                    $("#e_Tixian1").prop("readonly", true);
                    $("#e_Tixian2").prop("readonly", true);
                    $("#e_TixianRate").prop("readonly", true);
                }
            }
        });
    });
    function pChange(n, o) {
        ////$('#tr1').hide();
        ////$('#tr2').hide();
        ////$('#tr3').hide();
        $('#btnEbayLogin').hide();
        $('#btnEbayToken').hide();
        $('#btnAliLogin').hide();
        if (n == "Ebay") {
            $('#tr3').show();
            $('#btnEbayLogin').show();
            $('#btnEbayToken').show();
        }
        if (n == "Aliexpress") {
            $('#tr1').show();
            $('#tr2').show();
            $('#tr3').show();
            $('#btnAliLogin').show();
        }
    }
    var code = "";
    function ebayLogin() {
        jQuery.ajax({
            url: "/Account/GetEbayLoginUrl",
            type: "post",
            success: function (res) {
                if (res.IsSuccess) {
                    code = res.Code;

                    window.open(res.Result);
                } else {
                    alert(res.ErrorMsg);
                }
            }
        });
    }

    function getEbaySession() {
        jQuery.ajax({
            url: "/Account/GetEbaySession",
            type: "post",
            data: 'o=' + code,
            success: function (res) {
                if (res.IsError) {
                    alert(res.Message);
                } else {
                    $('#e_ApiToken').val(res.Result);
                }
            }
        });
    }
</script>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { id = "e_form" }))
{
    <fieldset>
        <table class="editForm">
            <tr>
                @*                <td>
                    @Html.LabelFor(model => model.Id, "主键:")
                </td>*@
                <td style="display: none">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Platform)
                    @Html.HiddenFor(model => model.AgreementPic)
                    @Html.HiddenFor(model => model.Icon)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.AccountName, "账户名称:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AccountName, new { @id = "e_AccountName" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Manager, "登录用户名:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserName, new { @id = "e_UserName" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.AccountUrl, "平台网址:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.AccountUrl, new { @id = "e_AccountUrl", @style = "width:400px;" })
                </td>
            </tr>
            <tr id="tr1">
                <td>
                    @Html.LabelFor(model => model.ApiKey, "APIKey:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.ApiKey, new { @id = "e_ApiKey", @style = "width:400px;" })
                </td>
            </tr>
            <tr id="tr2">
                <td>
                    @Html.LabelFor(model => model.ApiSecret, "API密钥:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.ApiSecret, new { @id = "e_ApiSecret", @style = "width:400px;" })
                </td>
            </tr>

            <tr id="tr3">
                <td>
                    @Html.LabelFor(model => model.ApiToken, "API会话:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.ApiToken, new { @id = "e_ApiToken", @style = "width:400px;" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Phone, "其他配置1:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Phone, new { @id = "e_Phone", @style = "width:400px;" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Email, "其他配置2:")
                </td>
                <td colspan="3">
                    @Html.TextBoxFor(model => model.Email, new { @id = "e_Email", @style = "width:400px;" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <input type="button" id="btnEbayLogin" onclick="ebayLogin()" value="ebay登录" />
                    <input type="button" id="btnEbayToken" onclick="getEbaySession()" value="获得Token" />
                    <input type="button" id="btnAliLogin" onclick="aliLogin()" value="获得Token" />
                </td>
            </tr>

            <tr>

                <td>
                    @Html.LabelFor(model => model.FromArea, "地区:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FromArea, new { @id = "e_FromArea" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Description, "开户人:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @id = "e_Description" })
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Manager, "负责人:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Manager, new { @id = "e_Manager" })
                </td>
                 <td>
                    @Html.LabelFor(model => model.Manager, "扣款账户:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DebitAccount, new { @id = "e_DebitAccount" })
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Manager, "提现账户(USD):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.USDAccount, new { @id = "e_USDAccount" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Manager, "提现方式:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Tixian1, new { @id = "e_Tixian1" })
                </td>
               
            </tr>
              <tr> <td>
                    @Html.LabelFor(model => model.Manager, "提现账户(RMB):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.RMBAccount, new { @id = "e_RMBAccount" })
                </td>
                   <td>
                    @Html.LabelFor(model => model.Tixian2, "提现方式:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Tixian2, new { @id = "e_Tixian2" })
                </td>
                  </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Manager, "支付宝账户:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AlipayAccount, new { @id = "e_AlipayAccount" })
                </td>
                   <td>
                    @Html.LabelFor(model => model.Manager, "提现手续费:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.TixianRate, new { @id = "e_TixianRate"})
                </td>
                
            </tr>
            <tr>
               <td>
                    @Html.LabelFor(model => model.Tax, "平台费率:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Tax, new { @id = "e_Tax" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Manager, "总提款额(USD):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Amount2, new { @id = "e_Amount2" })
                </td>
                  
            </tr>
             <tr>
                  <td>
                    @Html.LabelFor(model => model.Manager, "总提款额(RMB):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Amount5, new { @id = "e_Amount5" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Manager, "余额(USD):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Amount3, new { @id = "e_Amount3" })
                </td>
                
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Manager, "余额(RMB):")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Amount4, new { @id = "e_Amount4" })
                </td>
                <td>
                    @Html.LabelFor(model => model.Remark, "备注:")
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Remark, new { @id = "e_Remark" })
                </td>
            </tr>
        </table>
    </fieldset>
}
